analytics/dist
analytics/.env
analytics/.env.*
analytics/.output
analytics/node_modules

backend/dist
backend/.env
backend/.env.*
backend/node_modules

dist/


# Logsd
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*

README.md
docs/
node_modules

# Authentication files
.npmrc
volume/
volume
