# Nuxt dev/build outputs
apps/analytics/.output
apps/analytics/.data
apps/analytics/.nuxt
apps/analytics/.nitro
apps/analytics/.cache
apps/analytics/dist
apps/queue/dist
apps/worker/dist

# Package build outputs
packages/aws-wrapper/dist
packages/logger/dist
packages/core/dist
packages/types/dist

# Node dependencies
apps/analytics/node_modules
apps/queue/node_modules
apps/worker/node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
apps/analytics/.env
apps/analytics/.env.*
!apps/analytics/.env.example
apps/queue/.env
apps/queue/.env.*
!apps/queue/.env.example
apps/worker/.env
apps/worker/.env.*
!apps/worker/.env.example

README.md
docs/
node_modules

# Authentication files
.npmrc
volume/
volume
